<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

    <th:block layout:fragment="css">
        <style>
            .signUpError {
                color: red;
            }
        </style>
    </th:block>

    <div layout:fragment="content" class="content">
        <div class="container center_div w-50 mt-4">
            <form action="/register" role="form" method="post" th:object="${memberRegisterDto}">

                <div class="form-group mb-3">
                    <label th:for="name">이름</label>
                    <input type="text" th:field="*{name}" class="form-control" placeholder="이름을 입력해주세요" id="name" name="name" value="">
                    <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="signUpError">asd</p>
                </div>

                <div class="form-group mb-3">
                    <label th:for="email">이메일주소</label>
                    <input type="email" th:field="*{email}" class="form-control" placeholder="이메일을 입력해주세요" id="email" name="email" value="">
                    <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="signUpError">asd</p>
                </div>

                <div class="form-group mb-3">
                    <label th:for="password">비밀번호</label>
                    <input type="password" th:field="*{password}" class="form-control" placeholder="비밀번호 입력" id="password" name="password" value="">
                </div>

                <div class="form-group mb-3">
                    <label th:for="password2">비밀번호 확인</label>
                    <input type="password" th:field="*{password2}" class="form-control" placeholder="비밀번호 재입력" id="password2" name="password2" value="">
                </div>

                <div class="mb-3 text-center">
                    <button type="submit" class="btn btn-primary" style="">회원 가입</button>
                </div>
            </form>
        </div>
    </div>

</html>